<h2>Core Scenarios</h2>
{{ range sort $.Site.Data.factions.scenarios.core "weight" "asc" }}
{{ $odd := eq (mod .weight 2) 1 }}
<details class="scenario{{if $odd}} odd{{end}}">
  <summary>
    <h3>{{ .weight}}. {{ .title }}</h3>
  </summary>
  <div class="scenario_contents">
    {{ with .deployment }}
    <h4>Deployment</h4>
    {{ . | markdownify}} {{ end}} {{ with .firstTurn }}
    <h4>First Turn</h4>
    {{ . | markdownify}} {{ end}} {{ with .specialRules }}
    <h4>Special Rules</h4>
    {{ . | markdownify}} {{ end}} {{ with .victoryConditions }}
    <h4>Victory Conditions</h4>
    {{ . | markdownify}} {{ end}}
  </div>
</details>
{{ end}}