<h2>Core Scenarios</h2>
{{ range sort $.Site.Data.factions.scenarios.core "weight" "asc" }}
{{ $odd := eq (mod .weight 2) 1 }}
<fieldset>
  <legend>
    <strong>{{ .weight }}. {{ .title }}</strong>
  </legend>
  <dl class="scenario_contents">
    {{ with .deployment }}
    <dt>Deployment</dt>
    <dd>{{ . | markdownify}}</dd> {{ end}} {{ with .firstTurn }}
    <dt>First Turn</dt>
    <dd>{{ . | markdownify}}</dd> {{ end}} {{ with .specialRules }}
    <dt>Special Rules</dt>
    <dd>{{ . | markdownify}}</dd> {{ end}} {{ with .closingConditions }}
    <dt>Closing Conditions</dt>
    <dd>{{ . | markdownify}}</dd> {{ end}}
  </dl>
</fieldset>
<br />
{{ end}}